.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
stan_models/*.rda
workflow/.remake/**
workflow/Makefile
workflow/remake.yml
workflow/old_samples/
constrained_MLE/*.rda
paper/*.pdf
paper/*.gz
paper/*.log
paper/*.aux
workflow/*.rds
workflow2/*.rds
plots/*.png