.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
stan_models/*.rda
workflow/.remake/**
workflow/Makefile
workflow/remake.yml
workflow/old_samples/
constrained_MLE/*.rda
paper/*.pdf
paper/*.gz
paper/*.log
paper/*.aux
workflow/*.rds
workflow2/*.rds
plots/*.png
workflow_sig2_and_tp2_vary/*.rds
workflow_tp2_vary/*.rds
workflow_tp2_vary/*.sh
workflow_pis_vary/*.rds
workflow_pis_vary/*.sh
workflow_null/*.rds
workflow_null/*.sh
paper/*.gitignore
